.increment-control__container {
    display: flex;
    max-width: 90px;
    margin: auto;
}

.increment-control__control-button {
    width: 30px;
    cursor: pointer;
}

.executable-configurator-form { }

.text-selected {
    text-decoration: underline;
}

.text-selectable {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}

.mr-top-20 {
    margin-top: 20px;
}
